@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
     font-family: "Lato", sans-serif;
}


/* App.css or your component CSS file */
.rotate-20 {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text-20 {
  animation: text 0.3s ease forwards;
}

@keyframes text {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
